@charset "UTF-8";

/* 基本色 */
:root {
    --main-color: #b5cfd8;
    --accent-color: #7393a7;
    --dark-color: #6c737e;
    --plane-color: #e8ecf1;
    --main-color-shadow: #9fb7bf;
    --text-bright-color: #fff;
    --icon-color: #fff;
    --icon-bk-color: #ddd;
    --gray-color: #ddd;
    --large-width: 1000px;
    --middle-width: 800px;
}



/* 基本設定： フォントサイズ */
@media (max-width: 767px) {
    /* スマホ画面用の設定 */
    :root {
        font-size: 16px;
    }
}
@media (min-width: 768px) and (max-width: 1099px) {
    /* タブレット画面用の設定 */
    :root {
        font-size: 16px;
    }
}
@media (min-width: 1100px) {
    /* PC画面用の設定 */
    :root {
        font-size: 18px;
    }
}
body {
    font-size: 1rem;
}



/* 基本設定： ページ全体 */
body {
    margin: 0;
    font-family: 'klee',
        'メイリオ',
        'Hiragino Kaku Gothic ProN',
        sans-serif;
    background: #e8ecf1;
    background: var(--plane-color);
    color: #4e535c;
}



/* ヘッダー */
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

/* ヘッダーA： サイト名 */
.headA {
    display: inline-block;
    box-shadow: 0 0 0 1px #e8ecf1;
    line-height: 80px;
    margin-top: 40px;
    margin-left: -1px;
    padding: 50px 20px 0 50px;
    background-color: #b5cfd8;
    background-color: var(--main-color);
    color: #fff;
    color: var(--text-bright-color);
    font-family: 'Noto Serif JP', serif;
    font-size: 1.67rem;
    text-decoration: none;
    letter-spacing: 0.13em;
}

@media (max-width: 767px) {
    /* スマホ画面用の設定 */
    .headA {
        padding: 35px 10px 0 25px;
        line-height: 50px;
        letter-spacing: 0.08em;
    }
}

@media (min-width: 768px) and (max-width: 1099px) {
    /* タブレット画面用の設定 */
    .headA {
        padding: 60px 15px 0 40px;
        line-height: 60px;
    }
}

/* ヘッダーB： ナビゲーションメニュー */
.headB ul {
    margin: 0;
    padding-right: 30px;
    list-style: none;
}

.headB a {
    display: block;
    padding: 15px;
    color: inherit;
    font-size: 12px;
    text-decoration: none;
}

.headB a:hover {
    background-color: rgba(0,0,0,0.1);
}

.headB i {
    color: #4e535c;
}

@media (min-width: 768px) and (max-width: 1099px) {
    /* タブレット画面用の設定 */
    .headB a {
        padding: 15px 10px;
    }
}

@media (min-width: 768px) {
    /* タブレット・PC画面用の設定 */
    header .container {
        display: flex;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
    }
    .headB ul {
        display: flex;
        margin-top: 25px;
    }
}


/* ヘッダーC： トグルボタン */
@media (max-width: 767px) {
    /* スマホ画面用の設定 */
    header .container-small {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .headC {
        margin-top: 30px;
        padding: 20px 25px 10px 10px;
        border: none;
        outline: none;
        background: #e8ecf1;
        background: var(--plane-color);
        font-size: 1.2rem;
        color: #6c737e;
        opacity: 0.7;
        cursor: pointer;
    }
    .headB {
        display: none;
        background: #e8ecf1;
        background: var(--plane-color);
        opacity: 0.9;
    }
    .headB ul {
        text-align: left;
    }
    .headB li {
        display: inline;
    }
}

@media (min-width: 768px) {
    /* タブレット・PC画面用の設定 */
    .headC {
        display: none;
    }
    .headB {
        display: block !important;
    }
}



/* フッター */
footer {
    color: #fff;
    color: var(--text-bright-color);
    background-color: #b5cfd8;
    background-color: var(--main-color);
}

/* フッターA： コピーライト */
.footA {
    padding: 50px 0;
    font-size: 0.6rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}



/* コンテンツA： ヒーローイメージ */
.conA {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100vw;
    margin: 10vh auto;
    color: #fff;
    color: var(--text-bright-color);
    text-align: center;
    font-family: 'Noto Serif JP', serif;
}

.conA.compact {
    height: 450px;
    min-height: 0;
}

.conA h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 8vw;
    letter-spacing: 0.15em;
    margin-left: 0.15em;
}

.conA p {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3vw;
        letter-spacing: 0.1em;
    margin-left: 1em;
}

.conA img {
    height: 80vh;
    max-height: 80vw;
    box-shadow: 0 0 30px #ddd;
}

.conA a:hover {
    background-image: linear-gradient(
        rgba(225,225,225,0.2),
        rgba(225,225,225,0.2)
    );
}



/* コンテンツC： 最新ニュース一覧 */
.conC {
    display: flex;
    padding: 10vh 0 100px 0;
    align-items: center;
    justify-content: center;
    background-color: #b5cfd8;
    background-color: var(--main-color);
    color: #fff;
    color: var(--text-bright-color);
}

.conC h2 {
    margin-top: 0;
    margin-bottom: 40px;
    padding-left: 10vw;
    font-size: 1.2rem;
    letter-spacing: 0.15em;
}

.conC .text {
    margin: 0 10vw;
    border-collapse: collapse;
    border-top: solid 1px #ddd;
    border-top: solid 1px var(--text-bright-color);
}

.conC .post{
    padding: 1rem;
    border-collapse: collapse;
    border-bottom: solid 1px #ddd;
    border-bottom: solid 1px var(--text-bright-color);
}

.conC .day, .conC .sentence {
    text-align: left;
}

.conC .day {
    padding-right: 1rem;
    word-break: keep-all;
}

.conC a {
    color: #fff;
    color: var(--text-bright-color);
    text-decoration: none;
}

@media (min-width: 768px) {
    /* タブレット・PC画面用の設定 */
    .conC .post {
        display: flex;
        max-width: 1000px;
        max-width: var(--large-width);
        margin-left: auto;
        margin-right: auto;
    }
}



/* ニュースページ： 記事 */
.news .container {
    padding: 220px 0 100px 0;
    background: #b5cfd8;
    background: var(--main-color);
}

.news h1 {
    margin: 10px auto 80px auto;
    padding: 0 10px;
    max-width: 800px;
    max-width: var(--middle-width);
    letter-spacing: 0.2em;
    color: #fff;
    color: var(--text-bright-color);
}

.news a {
    color: #7393a7;
    color: var(--accent-color);
    text-decoration: none;
}

.post .container {
    margin: 0 auto 80px auto;
    padding: 0;
    max-width: 800px;
    max-width: var(--middle-width);
    background: #e8ecf1;
    background: var(--plane-color);
}

.post .text {
    padding: 80px 100px;
}

.post h2 {
    font-size: 1.2rem;
    letter-spacing: 0.1em;
}

.post h3 {
    padding-bottom: 20px;
    font-size: 0.7rem;
    letter-spacing: 0.1em;
}

.post p {
    font-size: 0.9rem;
    line-height: 2;
}

.post img {
    max-width: 100%;
}

@media (max-width: 767px) {
    /* スマホ画面用の設定 */
    .news .container {
        padding: 150px 0 100px 0;
        right: 0;
    }
    .news h1 {
        margin: 20px 5vw;
    }
    .post .container {
        margin: 0 auto 80px auto;
        padding: 0;
    }
    .post .text {
        padding: 30px 5vh;
    }
    .post h2 {
        font-size: 1.1rem;
    }
    .post h3 {
        padding-bottom: 10px;
    }
}



/* ミュージックページ */
.music .container {
    padding: 220px 0 100px 0;
    background-color: #b5cfd8;
    background-color: var(--main-color);
    color: #fff;
    color: var(--text-bright-color);
}

.music img {
    box-shadow: 0 0 30px #9fb7bf;
    box-shadow: 0 0 30px var(--main-color-shadow);
}

.music h1 {
    margin: 20px auto 70px auto;
    padding: 0 10px;
    max-width: 800px;
    max-width: var(--middle-width);
    letter-spacing: 0.2em;
}

.music h2 {
    font-size: 1.5rem;
}

.music a {
    color: #fff;
    color: var(--text-bright-color);
    font-size: 0.8rem;
}

.music .info {
    padding-top: 45px;
    font-size: 0.7rem;
}

@media (max-width: 767px) {
    /* スマホ画面用の設定 */
    .music .container {
        padding: 150px 0 100px 0;
    }
    .music .post .container {
        padding: 0;
    }
    .music h1 {
        margin: 20px 10vw 30px 10vw;
        padding: 0;
    }
    .music img {
        margin: 10px 10vw;
        padding: 0;
        width: 80vw;
        align-content: center;
    }
    .music .text {
        margin: 15px 12vw;
        padding: 0;
        width: 76vw;
        align-content: center;
    }
}

@media (min-width: 768px) {
    /* タブレット・PC画面用の設定 */
    .music .post .container {
        display: flex;
        margin-bottom: 80px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px;
        max-width: 800px;
        max-width: var(--middle-width);
    }
    .music .photo {
        flex: 1;
    }
    .music .text {
        flex: 1;
        padding: 0 0 0 50px;
    }
}



/* 歌詞ページ */
.lyrics .container {
    padding: 220px 0 100px 0;
    background-color: #b5cfd8;
    background-color: var(--main-color);
    color: #fff;
    color: var(--text-bright-color);
}

.lyrics img {
    box-shadow: 0 0 30px #9fb7bf;
    box-shadow: 0 0 30px var(--main-color-shadow);
}

.lyrics h1 {
    margin: 20px auto 70px auto;
    padding: 0 10px;
    max-width: 1000px;
    max-width: var(--large-width);
    letter-spacing: 0.2em;
}

.lyrics p {
    padding-bottom: 50px;
}

.lyrics .info {
    padding-top: 20px;
    font-size: 0.7rem;
}

@media (max-width: 767px) {
    /* スマホ画面用の設定 */
    .lyrics .container {
        padding: 150px 0 100px 0;
    }
    .lyrics .post .container {
        padding: 0;
    }
    .lyrics h1 {
        margin: 20px 10vw 30px 10vw;
        padding: 0;
    }
    .lyrics img {
        margin: 10px 10vw;
        padding: 0;
        width: 80vw;
        align-content: center;
    }
    .lyrics .text {
        margin: 15px 15vw;
        padding: 0;
        width: 70vw;
        align-content: center;
    }
}

@media (min-width: 768px) {
    /* タブレット・PC画面用の設定 */
    .lyrics .post .container {
        display: flex;
        margin-bottom: 80px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px;
        max-width: 1000px;
        max-width: var(--large-width);
    }
    .lyrics .photo {
        flex: 1;
    }
    .lyrics .text {
        flex: 1;
        padding: 0 0 0 50px;
    }
}



/* アバウトページ： 画像と歴史 */
.about {
    background:no-repeat;
    background-image:
        linear-gradient(
        rgba(232,236,241,0.5),
        rgba(232,236,241,0.5)),
        url(img/hero01.jpg);
    background-size:contain;
    background-position: right bottom;
}

.about .container {
    margin-top: 20vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    max-width: 800px;
    max-width: var(--middle-width);
}

.about h1 {
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 2em;
}

.about p {
    padding-bottom: 10px;
    font-size: 1rem;
    line-height: 2;
}

.about img {
    max-width: 100%;
}

@media (max-width: 767px) {
    /* スマホ画面用の設定*/
    .about {
        background-size: 80vw;
        background-position: right;
    }
    .about h1 {
        padding-top: 60px;
        padding-bottom: 20px;
        font-size: 1.6rem;
    }
    .about p {
        font-size: 0.9rem;
        line-height: 2.5;
    }
    .about h1, .about p {
        margin-left: 5vw;
        margin-right: 5vw;
        width: 90vw;
    }
}

.history .container{
    margin-left: auto;
    margin-right: auto;
    padding: 0 10px;
    max-width: 800px;
    max-width: var(--middle-width);
}

.history .text {
    padding-bottom: 200px;
}

.history h2 {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 1rem;
}

.history table{
    font-size: 0.8rem;
}

.history th, .history td {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
}

.history th {
    text-align: left;
    word-break: keep-all;
}

@media (max-width: 767px) {
    /* スマホ画面用の設定*/
    .history {
        margin-left: 4vw;
        margin-right: 4vw;
        width: 92vw;
    }
}



/* お問い合わせページ： 問い合わせ先 */
.contact {
    padding: 220px 0 100px 0;
    background: #b5cfd8;
    background: var(--main-color);
    color: #fff;
    color: var(--text-bright-color);
}

.contact h1 {
    margin: 10px auto 40px auto;
    padding: 0 10px;
    max-width: 800px;
    max-width: var(--middle-width);
    letter-spacing: 0.2em;
}

.contact p {
    margin: 10px auto 80px auto;
    padding: 0 10px;
    max-width: 800px;
    max-width: var(--middle-width);
}

.contact-wrap {
    margin: 0 auto 500px auto;
    padding: 40px 0;
    max-width: 800px;
    max-width: var(--middle-width);
    background: #e8ecf1;
    background: var(--plane-color);
    text-align: center;
}

.mail i {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 2.2rem;
    width: 2em;
    line-height: 2em;
    border-radius: 50%;
    text-align: center;
    background-color: #b5cfd8;
    background-color: var(--main-color);
    color: #fff;
    color: var(--icon-color);
}

.mail h2 {
    margin-top: 0;
    font-size: 1.2rem;
    color: #000;
}

.mail a {
    font-size: 1.4rem;
    color: inherit;
    text-decoration: none;
}

@media (max-width: 767px) {
    /* スマホ画面用の設定 */
    .contact {
        padding: 150px 0 100px 0;
    }
    .contact-wrap {
        margin: 0;
    }
    .contact h1 , .contact p {
        margin: 30px 10vw;
        padding: 0;
    }
}

@media (min-width: 768px) {
    .contact-wrap {
        display: flex;
    }
    .mail {
        flex: 1;
    }
}
